/* Début d'entête */
#logo
{
    display: inline-block;
    border: 3px double black;
    margin-right: 330px;
}
header
{
    background-color:cornflowerblue;
}
header ul
{
    display: inline-block;
}    
header li
{
    /*display: inline-flex; */
    margin-right: 20px;
}

#Sous_menu
{
	display: none;
	text-align: center;
}

