*
{
    padding:0px;
    margin: 0px;
    box-sizing: border-box; 
}

/*Entête et bannière de ma page web*/
.debut_entete
{
    background: url('./img5.png');
    background-size: cover;   /*retailler l'image originale*/
    background-position: center;
    height: 600px;
}
#logo
{
    display: inline-block;
    margin-right: 460px;
}
#menu_entête
{
    /*Le tuto */
    position:sticky;
    top:0px;
    /*Fin */
    background-color: #a5aacf;
    box-shadow: 5px 5px 10px ;
    background-attachment: fixed; /*fixation de l'image */
}
#menu_entête ul
{
    position: absolute;
	right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: inline-flex;
    list-style: none;
}
#menu_entête ul li
{
    margin-top: 0px;
    margin-right: 18px;
    padding: 5px;
}
#menu_entête ul li a
{
    text-decoration: none;
    color: #543928;
}
#menu_entête ul li a:hover
{
    color: #d8c6b2;
    border-bottom: 4px solid #efe7d2;
}
.sous_menu_1
{
   display: none; 
}
#menu_entête ul li:hover .sous_menu_1
{
    display: block;
    position: absolute;
    margin-top: -5px;
    margin-left: 180px;
}
#menu_entête ul li:hover .sous_menu_1 ul
{
    display: block;
    margin: 10px;
    background-color:#a5aacf;
}
#menu_entête ul li:hover .sous_menu_1 ul li
{
    width: 200px;
    padding: 10px;
    background: transparent;
    text-align: left;
}
#menu_entête ul li:hover .sous_menu_1 ul li:last-child
{
    border-bottom: none;
}
.Sous_menu_2
{
    display: none;
}
.hover_menu_2:hover .Sous_menu_2
{
    
    position:absolute;
    display: block;
    margin-top: -30px;
    margin-left: 430px;
    background-color:#a5aacf;
}
/*Fin Entête et bannière de ma page web*/
/*----------------Début du coeur de la page--------------------------------*/
.milieu_entête
{
    background:  #e6edf0;
    background-size: cover;
    background-position: center;
    height: 560px;
}

.cadre
{
    position:absolute;
    margin-top: 30px;
    background-color: #a5add3;
    width: 1200px;
    height: 520px;
    margin-left:30px;
}
legend
{
    text-align: center;
    font-size: 30px;
    color: #543928;
}
.label
{
    font-size: 20px;
    color: #543928;
}
.zone-text
{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    
}
.mon_tableau
{
    margin-left: 50px;
}
.mes_boutons
{
    margin-left: 50px;
    border-radius: 2px;
}
.btn
{
    font-family: OLDENGL;
    font-size: 20px;
    padding: 15px 30px;
    margin:10px 4px;
    text-align: center;
    display:inline-block;
    border:none;
    
}
p{
    display:inline-block; 
    
}
div .btn:hover{
    background: rgb(245, 236, 245);
}

/*Début du pied de la page */
.fin_entête
{
    background:  #404240;
    background-size: cover;
    background-position: center;
    height: 240px;
}
.titre
{
    list-style: none;
    font-size: 25px;
}
.element
{
    font-size: 20px;
    list-style: none;
}
.pied ol
{
    display: inline-flex;
}
.pied ol li
{
    margin-right: 40px;
    color: #a5aacf;
}
.pied ol li a
{
    text-decoration: none;
    color: #a5aacf;       /*#a5aacf    #a5aacf*/
}
.pied ol li a:hover
{
    color: #bf9b53;
    border-bottom: 4px solid #efe7d2;
}
.pied
{
    position:absolute;
    margin-top: 50px;
    margin-left: 80px;
}
/*Début du pied de la page */
