*
{
    padding:0px;
    margin: 0px;
    box-sizing: border-box; 
}
/*Entête et bannière de ma page web*/
.debut_entete
{
    background: url('./img5.png');
    background-size: cover;
    background-position: center;
    height: 600px;
}
#logo
{
    display: inline-block;
    margin-right: 460px;
}
#menu_entête
{
    background-color: #a5aacf;
    box-shadow: 5px 5px 10px ;
    background-attachment: fixed;
}
#menu_entête ul
{
    position: absolute;
	right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: inline-flex;
    list-style: none;
}
#menu_entête ul li
{
    margin-top: 0px;
    margin-right: 18px;
    padding: 5px;
}
#menu_entête ul li a
{
    text-decoration: none;
    color: #543928;
}
#menu_entête ul li a:hover
{
    color: #d8c6b2;
    border-bottom: 4px solid #efe7d2;
}
.sous_menu_1
{
   display: none; 
}
#menu_entête ul li:hover .sous_menu_1
{
    display: block;
    position: absolute;
    margin-top: -5px;
    margin-left: 180px;
}
#menu_entête ul li:hover .sous_menu_1 ul
{
    display: block;
    margin: 10px;
    background-color:#a5aacf;
}
#menu_entête ul li:hover .sous_menu_1 ul li
{
    width: 200px;
    padding: 10px;
    background: transparent;
    text-align: left;
}
#menu_entête ul li:hover .sous_menu_1 ul li:last-child
{
    border-bottom:none;
}
.Sous_menu_2
{
    display: none;
}
.hover_menu_2:hover .Sous_menu_2
{
    
    position:absolute;
    display: block;
    margin-top: -30px;
    margin-left: 430px;
    background-color:#a5aacf;
}
h1
{
    margin-top: 250px;
    margin-left: 400px;
    text-align: center;
    font-size: 45px;
    color: white;
    border-bottom: 2px solid white;
    width: 500px;
}
h2
{
    margin-top: 250px;
    margin-left: 150px;
    text-align: center;
    font-size: 45px;
    color: white;
    border-bottom: 2px solid white;
    width: 950px;
}

/*Fin Entête et bannière de ma page web*/
/*Début de la partie annonce */
.milieu_entêtex
{
    background:  #e6edf0;
    background-size: cover;
    background-position: center;
    height: 750px;
}
.milieu_entête
{
    background:  #CCCCCC;
    background-size: cover;
    background-position: center;
    height: 700px;
}
.annonce
{
    font-weight:bold;
    font-size: 20px;
    list-style: none;
    color: #a5aacf;
    text-align: center;
}
.date
{
    
    text-align: left;
    color: #a5aacf;
    list-style: none;  
}
.sectionx
{
    position:absolute;
    margin-top: 20px;
    border: 2px solid #4c1724;
    margin-left: 20px;
    width: 600px;
    box-shadow: 10px 5px 10px;
    background-color:#4c1724;
}
.section
{
    position:absolute;
    margin-top: 20px;
    border: 2px solid #4c1724;
    margin-left: 60px;
    width: 500px;
    box-shadow: 10px 5px 10px; 
    background-color: #4c1724;
}
.sectionxx
{
    position:absolute;
    margin-top: 20px;
    margin-left:  680px;
    border: 2px solid #4c1724;
    width: 570px;
    box-shadow: 10px 5px 10px;
    background-color: #4c1724;
}
.section2
{
    position:absolute;
    margin-top: 20px;
    margin-left: 620px;
    border: 2px solid #4c1724;
    width: 570px;
    box-shadow: 10px 5px 10px;  
    background-color: #4c1724;
}
.sectionx2
{
    position:absolute;
    margin-top:  300px;
    border: 2px solid #4c1724;
    margin-left: 20px;
    width: 600px;
    box-shadow: 10px 5px 10px; 
    background-color:#4c1724;
}
.section3
{
    position:absolute;
    margin-top:  360px;
    margin-left: 60px;
    border: 2px solid #4c1724;
    width: 500px;
    box-shadow: 10px 5px 10px;  
    background-color: #4c1724;
}
.section4
{
    position:absolute;
    margin-top: 360px;
    margin-left:620px;
    border: 2px solid #4c1724;
    width: 570px;
    box-shadow: 10px 5px 10px;  
    background-color: #4c1724;
}
/*Début du pied de la page */
.fin_entête
{
    background:  #404240;
    background-size: cover;
    background-position: center;
    height: 240px;
}
.titre
{
    list-style: none;
    font-size: 25px;
}
.element
{
    font-size: 20px;
    list-style: none;
}
.pied ol
{
    display: inline-flex;
}
.pied ol li
{
    margin-right: 40px;
    color: #a5aacf;
}
.pied ol li a
{
    text-decoration: none;
    color: #a5aacf;       /*#a5aacf    #a5aacf*/
}
.pied ol li a:hover
{
    color: #bf9b53;
    border-bottom: 4px solid #efe7d2;
}
.pied
{
    position:absolute;
    margin-top: 50px;
    margin-left: 80px;
}
/*Début du pied de la page */
